html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: url(/img/bg.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  /* background-size: 100%;
  background-position: bottom; */
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textaurea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

.transparent-card {
  opacity: 0.7;
}
